@import "tailwindcss";


/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

html{
    scroll-behavior: smooth;
}

.navbar {
    box-shadow: 1px 5px 3px 0px rgba(0,0,0,0.50);
-webkit-box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.50);
-moz-box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.50);
    background-color: white;
}

.navbar ul {
    display: flex;
    gap: 10px;
    font-weight: 700;
}

.dotStream::before {
    content: "";
    display: inline-block;
    width: 10px; 
    height: 10px; 
    background-color: red; 
    border-radius: 50%;
    margin-right: 4px; 
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
    0%, 100% {
        opacity: 1;
    }
}

.navbar ul li{
    padding: 10px 7px;
    transition: 0.5s ease;
    position: sticky;
}

.navbar ul li:hover{
    background-color: #094775;
    color: white;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
}

.footer ul {
    gap: 20px;
}

.os {
    background-color: #c6c6c6;
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    padding: 10px;
    object-fit: cover;
}

.fullos {
    /* background-color: purple; */
    gap: 10px;
    width: 25%;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}

.copyright {
    background-color: #094775;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* CONTENT DETAIL*/

.detail-container {
    width: 80%;
    justify-self: center;
}

.linkAtas {
    gap: 10px;
}

.content-container {
    display: flex;
    gap: 30px;
}

.ad-container {
    width: 40%;
    background-color: #094775;
}

.text-container {
    width: 60%;
}

.text-container img {
    width: 100%;
}

.img-container {
    display: inline-block;
    width: 100%;
    height: 500px;
    background-image: url(../assets/a_67be915934fab.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.img-ad {
    justify-self: center;
}

.social-media {
    display: flex;
    justify-content: space-between;
}

.increase-decrease {
    width: 40px;
    height: 40px;
    background-color: #094775;
    border-radius: 50%;
    padding: 8px;
}

.font-increase-decrease {
    background-color: rgb(225, 225, 225);
}

.divider {
    background-color: #f0f8fd;
    height: 90px;
    display: flex;
}

.divider::before {
    content: "";
    display: inline-block;
    background-color: #094878;
    width: 10px;
    height: 100%;
}

.tag-container {
    display: flex;
    gap: 20px;
}

.tag-item {
    padding: 10px;
    background-color: #094775;
    color: white;
    border-radius: 10px;
}

.divider-news {
    display: inline-block;
    width: 30px;
    height: 5px;
    background-color: #094775;
}

.news-grid{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 30px;
}

.grid-item {
    background-color: rgb(227, 227, 227);
    border-radius: 10px;
}

.img-card {
    display: inline-block;
    width: 100%;
    height: 150px;
    background-image: url(../assets/t_67be87c443db0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.grid-item h1 {
    padding: 10px;
    font-weight: bold;
}

.grid-item p {
    padding-left: 10px;
    padding-bottom: 30px;
}

.LOAD {
    background-color: #094775;
}